@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: url(la.png);
    background-size: cover;
    height: 150vh;
}

.navbar {
    height: 55px;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    padding: 10px 100px;
}



   